$main-active-color: #0072ff;
$header-box-shadow-color: #e2e6ed;
$header-user-menu-border-color: #e6e6e6;
$header-user-menu-item-active-bg-color: #f2f8ff;
$header-user-menu-item-logout-color: #90949c;
