<template lang="pug">
.container.d-flex
  TheLoader(v-if="loading")
  template(v-else)
    .info
      p.title About us
      p.about {{info}}
    .carousel.slider(id="slider")
      .btn.btn-prev(aria-label="Previous slide" @click="slide(-1)")
      TransitionGroup.slides-group(tag="div" :name="transitionName")
        .slide.prev(:key="prev" :style="{backgroundImage: 'url(' + formatImageUrl(slides[prev]) +')'}")
        .slide.current(:key="current" :style="{backgroundImage: 'url(' + formatImageUrl(slides[current]) +')'}")
        .slide.next(:key="next" :style="{backgroundImage: 'url(' + formatImageUrl(slides[next]) +')'}")
      .btn.btn-next(aria-label="Next slide" @click="slide(1)")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import AboutService from '@/services/about.service'
import { useAboutStore } from '@/stores/AboutStore'
import { ImageInterface } from '@/types/image.interface'
import formatImageUrl from '@/composables/formatImageUrl'
import TheLoader from '@/components/TheLoader.vue'

const prev = ref(0)
const current = ref(1)
const next = ref(2)
const transitionName = ref('fade')
const slides = ref([] as ImageInterface[])
const info = ref('')
const slide = (dir: number) => {
  dir === 1
    ? (transitionName.value = 'slide-next')
    : (transitionName.value = 'slide-prev')
  const len = slides.value.length
  prev.value = (prev.value + dir % len + len) % len
  current.value = (current.value + dir % len + len) % len
  next.value = (next.value + dir % len + len) % len
}
const store = useAboutStore()
const loading = ref(false)
onMounted(async () => {
  loading.value = true
  return AboutService.getAbout().then((response) => {
    if (response.data.data) {
      store.setAbout(response.data.data[0])
      info.value = store.getAbout.attributes.aboutUs
      slides.value = store.getAbout.attributes.images.data
    }
  }).finally(() => { loading.value = false })
})
</script>

<style scoped lang="scss">
.container {
  padding: 50px;
  .info {
    width: 30%;
    .title {
      font: 700 30px/25px $Objective;
    }
    .about {
      margin-top: 20px;
      font: 500 20px/25px $Objective;
      max-height: calc(100vh - 250px);
      padding-right: 30px;
      overflow-y: auto;
      &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: #ebeef2;
      }

      &::-webkit-scrollbar {
        width: 3px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba(136, 145, 163, 0.7);
        border-radius: 4px;
      }
    }
  }
  .carousel {
    margin: 0 30px;
    width: 70%;
    height: calc(100vh - 250px);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    .slide {
      width: 30%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 8px;
      &.prev {
      }
      &.current {
        z-index: 2;
        left: 35%;
      }
      &.next {
        left: 70%;
      }
    }

    .btn {
      position: absolute;
      bottom: -50px;
      left: 40%;
      z-index: 10;
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: transform 0.3s ease-in-out;
      user-select: none;
    }

    .btn-next {
      left: 55%;
      background: url("../assets/right-arrow.svg") 50% no-repeat;
    }
    .btn-prev {
      background: url("../assets/left-arrow.svg") 50% no-repeat;
    }

    .btn:hover {
      transform: scale(1.3);
    }
  }
}
</style>
