<template lang="pug">
.gallery-container
  TheLoader(v-if="loading")
  template(v-else)
    .d-flex(v-for="image in gallery" :key="image.id")
      .img(:style="{backgroundImage: 'url('+formatImageUrl(image)+')'}")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { useTourStore } from '@/stores/TourStore'
import TourService from '@/services/tour.service'
import { ImageInterface } from '@/types/image.interface'
import formatImageUrl from '@/composables/formatImageUrl'
import TheLoader from '@/components/TheLoader.vue'

const store = useTourStore()
const gallery = ref<ImageInterface[]>([])
const loading = ref(false)
onMounted(() => {
  if (!store.getTourCount) {
    loading.value = true
    return TourService.getTour().then((response) => {
      if (response.data.data) store.setTour(response.data.data)
      gallery.value = store.getImages
    }).finally(() => { loading.value = false })
  } else {
    gallery.value = store.getImages
  }
})
</script>

<style scoped lang="scss">
.gallery-container {
  padding: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  columns: 3 auto;
  .img {
    width: 100%;
    min-height: 500px;
    margin: 0 0 20px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
  }
}
</style>
