<template lang="pug">
.home-container
  TourCarousel
  PropositionPage
  TestimonialCarousel
</template>

<script setup lang="ts">
import TourCarousel from '@/components/TourCarousel.vue'
import PropositionPage from '@/components/PropositionPage.vue'
import TestimonialCarousel from '@/components/TestimonialCarousel.vue'
</script>

<style scoped lang="scss">
.home-container {
  min-height: calc(100vh - 130px);
}
</style>
