<template lang="pug">
.testimonials-container
  TestimonialCarousel
</template>

<script setup lang="ts">
import TestimonialCarousel from '@/components/TestimonialCarousel.vue'
</script>

<style scoped lang="scss">
.testimonials-container {
  min-height: calc(100vh - 130px);
}
</style>
