<template lang="pug">
.tour-info-container(v-if="tour")
  TheLoader(v-if="loading")
  template(v-else)
    .title
      p.name {{tour.attributes.name}}
      .review.d-flex
        RatingStars(:id="tour.id" :read-only="true")
        p Reviews ({{tour.attributes.testimonial.length}})
    .main-img(:style="{backgroundImage: 'url('+formatImageUrl(tour.attributes.mainImage.data)+')'}")
    .duration
      p.title Departure date
      p {{tour.attributes.startDate}} - {{tour.attributes.endDate}}
        span ({{duration}} days)
    .transport
      p.title Transport
      p Air from New York
      p Air from London
    .all-inclusive
      p.title All inclusive
      p Insurance
      p Food
    .food
      p.title Food
      p All inclusive
    .room-type
      p.title Room Type
      p Lux
    .price.d-flex
      p.title $ {{tour.attributes.price}}
        span / {{duration}} days
      button Send inquiry
      button.buy Buy now
    .additional-img(:style="{backgroundImage: 'url('+formatImageUrl(tour.attributes.images.data[0])+')'}")
    .additional-img(:style="{backgroundImage: 'url('+formatImageUrl(tour.attributes.images.data[1])+')'}")
    .additional-img(:style="{backgroundImage: 'url('+formatImageUrl(tour.attributes.images.data[2])+')'}")
    .navigation.d-flex
      p(:class="{'active': key === 1}" @click="toggle(1)") Details
      p(:class="{'active': key === 2}" @click="toggle(2)") Overview
      p(:class="{'active': key === 3}" @click="toggle(3)") Reviews
    .details(v-if="key === 1")
      p {{tour.attributes.description}}
    .review(v-if="key === 3")
      .d-flex(v-for="item in tour.attributes.testimonial" :key="item.id")
        TestimonialCard(:id="item.id")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useRoute } from 'vue-router'

import { useTourStore } from '@/stores/TourStore'
import { TourInterface } from '@/types/tour.interface'
import TourService from '@/services/tour.service'
import getTourDuration from '@/composables/getTourDuration'
import formatImageUrl from '@/composables/formatImageUrl'
import RatingStars from '@/components/RatingStars.vue'
import TestimonialCard from '@/components/TestimonialCard.vue'
import TheLoader from '@/components/TheLoader.vue'

const route = useRoute()
const store = useTourStore()
const tour = ref<TourInterface>()
const duration = ref<number>()
const loading = ref(false)
onMounted(() => {
  if (!store.getTourCount) {
    loading.value = true
    return TourService.getTour().then((response) => {
      if (response.data.data) store.setTour(response.data.data)
      if (route.params.id) {
        tour.value = store.getTourById(Number(route.params.id))
        duration.value = getTourDuration(tour.value)
      }
    }).finally(() => { loading.value = false })
  } else if (route.params.id) {
    tour.value = store.getTourById(Number(route.params.id))
    duration.value = getTourDuration(tour.value)
  }
})

const key = ref(1)
const toggle = (number: number) => {
  key.value = number
}
</script>

<style scoped lang="scss">
.tour-info-container {
  display: grid;
  min-height: calc(100vh - 130px);
  padding: 30px;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-auto-rows: minmax(30px, auto);
  gap: 20px;
  .title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    justify-self: start;
    text-align: start;
    .name {
      font: 500 30px/25px $Objective;
      margin-bottom: 10px;
    }
    .review {
      align-items: center;
      p {
        font: 500 20px/25px $Objective;
        margin-left: 10px;
        color: #90949c;
      }
    }
  }
  .main-img {
    grid-column: 1;
    grid-row: 2 / 6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
  }
  .duration, .transport, .all-inclusive, .food, .room-type {
    p {
      font: 500 20px/25px $Objective;
      justify-self: start;
      padding-left: 20px;
      text-align: start;
      &.title {
        font-weight: 600;
        padding-left: 50px;
        margin-bottom: 10px;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          width: 25px;
          height: 25px;
          left: 20px;
          background-size: contain;
          filter: invert(39%) sepia(79%) saturate(6136%) hue-rotate(206deg) brightness(105%) contrast(102%);
        }
      }
      span {
        color: #0072FF;
        margin-left: 10px;
      }
    }
  }
  .duration {
    grid-column: 2 / 5;
    grid-row: 2;
    .title:before {
      background: url("../assets/tour/calendar.svg") 50% no-repeat;
    }
  }
  .transport {
    grid-column: 2 / 3;
    grid-row: 3;
    .title:before {
      background: url("../assets/tour/transport.svg") 50% no-repeat;
    }
  }
  .all-inclusive {
    grid-column: 3 / 4;
    grid-row: 3;
    .title:before {
      background: url("../assets/tour/wallet.svg") 50% no-repeat;
    }
  }
  .food {
    grid-column: 2 / 3;
    grid-row: 4;
    .title:before {
      background: url("../assets/tour/food.svg") 50% no-repeat;
    }
  }
  .room-type {
    grid-column: 3 / 4;
    grid-row: 4;
    .title:before {
      background: url("../assets/tour/room.svg") 50% no-repeat;
    }
  }
  .price {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    .title {
      font: 500 25px/25px $Objective;
      justify-self: start;
      padding-left: 20px;
      text-align: start;
      color: #0072FF;
      span {
        font: 500 20px/25px $Objective;
        color: #69696c;
        margin-left: 10px;
      }
    }
    button {
      font: 500 20px/25px $Objective;
      background: white;
      color: #0072FF;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #0072FF;
      margin: 10px 0;
      width: 100%;
      &.buy {
        background: #0072FF;
        color: white;
      }
    }
  }
  .additional-img {
    background-size: cover;
    background-position: center;
    height: 250px;
  }
  .navigation {
    grid-column: 1 / 5;
    grid-row: 6;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    p {
      font: 500 20px/25px $Objective;
      margin: 0 10px;
      border-bottom: 2px solid transparent;
      cursor: pointer;
      &.active {
        color: #0072FF;
        border-bottom: 2px solid #0072FF;
      }
    }
  }
  .details, .review {
    grid-column: 1 / 5;
    grid-row: 7;
  }
  .box {
    background: antiquewhite;
    border: 1px solid grey;
    border-radius: 5px;
    &.box2 {
      grid-column: 1;
      grid-row: 2 / 6;
    }
  }
}
</style>
