<template lang="pug">
.tour-container.d-flex
  TheLoader(v-if="loading")
  template(v-else)
    BigCart(v-for="tour in tours" :id="tour.id")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { useTourStore } from '@/stores/TourStore'
import { TourInterface } from '@/types/tour.interface'
import TourService from '@/services/tour.service'
import BigCart from '@/components/BigCart.vue'
import TheLoader from '@/components/TheLoader.vue'

const store = useTourStore()
const tours = ref([] as TourInterface[])
const loading = ref(false)
onMounted(async () => {
  loading.value = true
  return TourService.getTour().then((response) => {
    if (response.data.data) {
      store.setTour(response.data.data)
      tours.value = store.getTour
    }
  }).finally(() => { loading.value = false })
})
</script>

<style scoped lang="scss">
.tour-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
}
</style>
