<template lang="pug">
.middle-cart-container.d-flex
  .image(v-if="tour" :style="{backgroundImage: 'url('+ formatImageUrl(tour.attributes.mainImage.data)+')'}")
  .left-side.d-flex
    .info.d-flex
      .top-side.d-flex
        p.name(v-if="tour") {{tour.attributes.name}}
        p.duration(v-if="tour") {{duration}} days
      .bottom-side
        p.availability(v-if="tour") Availability: {{tour.attributes.startDate}} - {{tour.attributes.endDate}}
        p.description(v-if="tour") {{tour.attributes.description}}
    .price-block.d-flex
      p From
      p.price(v-if="tour") $ {{tour.attributes.price}}
      RatingStars(v-if="tour" :read-only="true", :id="id")
      p.review(v-if="tour") Reviews ({{tour.attributes.testimonial.length}})
      button(@click="viewDetails") View details
</template>

<script setup lang="ts">
import { defineProps, onMounted, ref } from 'vue'
import { useRouter } from 'vue-router'

import { useTourStore } from '@/stores/TourStore'
import { TourInterface } from '@/types/tour.interface'
import formatImageUrl from '@/composables/formatImageUrl'
import getTourDuration from '@/composables/getTourDuration'
import RatingStars from '@/components/RatingStars.vue'
import { RouteName } from '@/enums/RouteName'
import TourService from '@/services/tour.service'

const props = defineProps({
  id: Number
})
const store = useTourStore()
const router = useRouter()
const tour = ref<TourInterface>()
const duration = ref<number>()
const viewDetails = () => {
  router.push({ name: RouteName.Tour, params: { id: props.id } })
}
onMounted(() => {
  if (!store.getTourCount) {
    return TourService.getTour().then((response) => {
      if (response.data.data) store.setTour(response.data.data)
      if (props.id) {
        tour.value = store.getTourById(props.id)
        duration.value = getTourDuration(tour.value)
      }
    })
  } else if (props.id) {
    tour.value = store.getTourById(props.id)
    duration.value = getTourDuration(tour.value)
  }
})
</script>

<style scoped lang="scss">
.middle-cart-container {
  margin: 10px;
  width: calc(100% - 20px);
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
  font: 500 20px/25px $Objective;
  .image {
    height: 100%;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px 0 0 8px;
  }
  .left-side {
    flex-direction: row;
    width: 70%;
    padding: 20px;
    .info {
      width: 70%;
      text-align: left;
      flex-direction: column;
      border-right: 1px solid rgba(136, 145, 163, 0.3);
      .top-side {
        justify-content: space-between;
        flex-direction: column;
        border-bottom: 1px solid rgba(136, 145, 163, 0.3);
        padding: 0 20px 20px 0;
        .name {
          font: 600 30px/35px $Objective;
          margin-bottom: 10px;
        }
        .price > p {
          white-space: nowrap;
        }
      }
      .bottom-side {
        padding: 20px 20px 20px 0;
        .availability {
          margin-bottom: 10px;
        }
        .description {
          max-height: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .price-block {
      width: 30%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      .price {
        margin-bottom: 20px;
      }
      .review {
        margin-top: 20px;
      }
      button {
        background: rgba(0, 114, 255, 0.78);
        padding: 10px 20px;
        white-space: nowrap;
        color: #FFFFFF;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 20px;
      }
    }
  }
}
</style>
