<template lang="pug">
div( id="slider")
  transition-group.slides-group(tag="div" :name="transitionName")
    .slide(:key="current" :class="slides[current].className")
      p I'm {{slides[current].className}}!
  div(class="btn btn-prev" aria-label="Previous slide" @click="slide(-1)") -
  div(class="btn btn-next" aria-label="Next slide" @click="slide(1)") +
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

const current = ref(0)
const direction = ref(1)
const transitionName = ref('fade')
const slides = ref([
  { className: 'blue' },
  { className: 'red' },
  { className: 'yellow' }
])
const slide = (dir: number) => {
  direction.value = dir
  dir === 1
    ? (transitionName.value = 'slide-next')
    : (transitionName.value = 'slide-prev')
  const len = slides.value.length
  current.value = (current.value + dir % len + len) % len
}
</script>

<style scoped lang="scss">
/* FADE IN */
.fade-enter-active {
  transition: opacity 5s;
}
.fade-enter {
  opacity: 0;
}

/* GO TO NEXT SLIDE */
.slide-next-enter-active,
.slide-next-leave-active {
  transition: transform 5s ease-in-out;
}
.slide-next-enter {
  transform: translate(100%);
}
.slide-next-leave-to {
  z-index: 1;
  transform: translate(-100%);
}

/* GO TO PREVIOUS SLIDE */
.slide-prev-enter-active,
.slide-prev-leave-active {
  transition: transform 5s ease-in-out;
}
.slide-prev-enter {
  //z-index: 1;
  transform: translate(-100%);
}
.slide-prev-leave-to {
  z-index: 1;
  transform: translate(100%);
}

/* SLIDES CLASSES */

.blue {
  background: #4a69bd;
}

.red {
  background: #e55039;
}

.yellow {
  background: #f6b93b;
}

/* SLIDER STYLES */
body {
  overflow: hidden;
  margin: 0;
  font-size: 50px;
  font-family: "Crimson Text", sans-serif;
  color: #fff;
}

#slider {
  width: 100%;
  height: 100vh;
  position: relative;
}

.slide {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  z-index: 10;
  cursor: pointer;
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  position: absolute;
  top: calc(50% - 35px);
  left: 1%;
  transition: transform 0.3s ease-in-out;
  user-select: none;
}

.btn-next {
  left: auto;
  right: 1%;
}

.btn:hover {
  transform: scale(1.1);
}
</style>
