<template lang="pug">
.middle-cart-container.d-flex
  router-link.details(:to="{name: RouteName.Tour, params: {id: id}}") View Details
  .image(v-if="tour" :style="{backgroundImage: 'url('+ formatImageUrl(tour.attributes.mainImage.data)+')'}")
  .info.d-flex
    .title.d-flex
      p.name(v-if="tour") {{tour.attributes.name}}
      .price
        p From
        p(v-if="tour") $ {{tour.attributes.price}}
    RatingStars(v-if="tour" :read-only="true", :id="id")
    p.description(v-if="tour") {{tour.attributes.description}}
</template>

<script setup lang="ts">
import { defineProps, onMounted, ref } from 'vue'

import { useTourStore } from '@/stores/TourStore'
import { TourInterface } from '@/types/tour.interface'
import formatImageUrl from '@/composables/formatImageUrl'
import RatingStars from '@/components/RatingStars.vue'
import { RouteName } from '@/enums/RouteName'

const props = defineProps({
  id: Number
})
const store = useTourStore()
const tour = ref<TourInterface>()
onMounted(() => {
  if (props.id) {
    tour.value = store.getTourById(props.id)
  }
})
</script>

<style scoped lang="scss">
.middle-cart-container {
  margin: 10px;
  width: calc(70% - 40px);
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
  font: 500 20px/25px $Objective;
  position: relative;
  &:hover {
    .details {
      display: block;
    }
  }
  .details {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px 20px;
    top: 20px;
    left: 20px;
    color: black;
    cursor: pointer;
    display: none;
  }
  .image {
    height: 100%;
    width: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px 0 0 8px;
  }
  .info {
    width: 60%;
    padding: 20px;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    .title {
      justify-content: space-between;
      .name {
        font: 600 30px/35px $Objective;
        margin-right: 10px;
      }
      .price > p {
        white-space: nowrap;
      }
    }
    .description {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 10px;
    }
  }
}
</style>
