<template lang="pug">
.proposition-container.d-flex
  SmallCart(v-if="randomNumber.length" :id="randomNumber[0]")
  MiddleCart(v-if="randomNumber.length" :id="randomNumber[1]")
  BigCart(v-if="randomNumber.length" :id="randomNumber[2]")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import { useTourStore } from '@/stores/TourStore'
import TourService from '@/services/tour.service'
import { TourInterface } from '@/types/tour.interface'
import SmallCart from '@/components/SmallCart.vue'
import MiddleCart from '@/components/MiddleCart.vue'
import BigCart from '@/components/BigCart.vue'

const store = useTourStore()
const tours = ref([] as TourInterface[])
const randomNumber = ref([] as Array<number>)
const setRandomNumbers = () => {
  while (randomNumber.value.length < Math.min(3, store.getTourCount)) {
    const r: number = Math.floor(Math.random() * store.getMaxIndex) + 1
    if (randomNumber.value.indexOf(r) === -1) randomNumber.value.push(r)
  }
}
onMounted(async () => {
  return TourService.getTour().then((response) => {
    if (response.data.data) {
      store.setTour(response.data.data)
      tours.value = store.getTour
      setRandomNumbers()
    }
  })
})
</script>

<style scoped lang="scss">
.proposition-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
}
</style>
