<template lang="pug">
.small-cart-container.d-flex(v-if="tour" :style="{backgroundImage: 'url('+ formatImageUrl(tour.attributes.mainImage.data)+')'}")
  router-link.details(:to="{name: RouteName.Tour, params: {id: id}}") View Details
  .price
    p From
    p(v-if="tour") $ {{tour.attributes.price}}
  .info
    p.name(v-if="tour") {{tour.attributes.name}}
    p.description(v-if="tour") {{tour.attributes.description}}
</template>

<script setup lang="ts">
import { defineProps, onMounted, ref } from 'vue'

import { useTourStore } from '@/stores/TourStore'
import { TourInterface } from '@/types/tour.interface'
import formatImageUrl from '@/composables/formatImageUrl'
import { RouteName } from '@/enums/RouteName'

const props = defineProps({
  id: Number
})
const store = useTourStore()
const tour = ref<TourInterface>()
onMounted(() => {
  if (props.id) {
    tour.value = store.getTourById(props.id)
  }
})
</script>

<style scoped lang="scss">
.small-cart-container {
  margin: 10px;
  width: 30%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
  padding: 30px;
  text-align: left;
  color: #FFFFFF;
  flex-direction: column;
  justify-content: space-between;
  font: 500 20px/25px $Objective;
  position: relative;
  &:hover {
    .details {
      display: block;
    }
  }
  .details {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    padding: 10px 20px;
    top: 20px;
    right: 20px;
    color: black;
    cursor: pointer;
    display: none;
  }
  .name {
    font: 600 30px/35px $Objective;
  }
  .description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 10px;
  }
}
</style>
