<template lang="pug">
.testimonial.d-flex(v-if="testimonial" )
  .title.d-flex
    .user-icon
    p.name {{testimonial.name}}
  RatingStars(:read-only="true" :rating="formatRating(testimonial.rating)")
  .scrollable
    p.review {{testimonial.testimonial}}
</template>

<script setup lang="ts">
import { defineProps, onMounted, ref } from 'vue'

import { TestimonialInterface } from '@/types/testimonial.interface'
import { useTourStore } from '@/stores/TourStore'
import RatingStars from '@/components/RatingStars.vue'

const props = defineProps({
  id: Number
})
const testimonial = ref<TestimonialInterface>()
const store = useTourStore()
const formatRating = (rating: number | undefined) => {
  if (!rating) return 0
  return rating
}
onMounted(() => {
  if (props.id) testimonial.value = store.getTestimonialById(props.id)
})
</script>

<style scoped lang="scss">
.testimonial {
  flex-direction: column;
  padding: 40px;
  justify-content: start;
  align-items: start;
  .title {
    align-items: center;
    margin-bottom: 20px;
  .user-icon {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background: gray 50% no-repeat;
  }
    .name {
      margin-left: 20px;
      font: 500 20px/25px $Objective;
    }
  }
  .scrollable {
    max-height: 240px;
    overflow-y: auto;
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: #ebeef2;
    }

    &::-webkit-scrollbar {
      width: 3px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(136, 145, 163, 0.7);
      border-radius: 4px;
    }
    .review {
      margin: 20px 20px 0 0;
      text-align: start;
    }
  }
}
</style>
