<template lang="pug">
.container
  TheLoader(v-if="loading")
  template(v-else)
    .carousel.slider(id="slider")
      .btn.btn-prev(aria-label="Previous slide" @click="slide(-1)")
      TransitionGroup.slides-group(tag="div" :name="transitionName")
        TestimonialCard.slide.prev(v-if="slides[prev]" :key="prev" :id="slides[prev].id" @click="slide(-1)")
        TestimonialCard.slide.current(v-if="slides[current]" :key="current" :id="slides[current].id")
        TestimonialCard.slide.next(v-if="slides[next]" :key="next" :id="slides[next].id" @click="slide(1)")
      .btn.btn-next(aria-label="Next slide" @click="slide(1)")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import TourService from '@/services/tour.service'
import { useTourStore } from '@/stores/TourStore'
import { TestimonialInterface } from '@/types/testimonial.interface'
import TestimonialCard from '@/components/TestimonialCard.vue'
import TheLoader from '@/components/TheLoader.vue'

const prev = ref(0)
const current = ref(1)
const next = ref(2)
const transitionName = ref('fade')
const slides = ref([] as TestimonialInterface[])
const slide = (dir: number) => {
  dir === 1
    ? (transitionName.value = 'slide-next')
    : (transitionName.value = 'slide-prev')
  const len = slides.value.length
  prev.value = (prev.value + dir % len + len) % len
  current.value = (current.value + dir % len + len) % len
  next.value = (next.value + dir % len + len) % len
}
const store = useTourStore()
const loading = ref(false)
onMounted(async () => {
  loading.value = true
  return TourService.getTour().then((response) => {
    if (response.data.data) {
      store.setTour(response.data.data)
      slides.value = store.getTestimonials
    }
  }).finally(() => { loading.value = false })
})
</script>

<style scoped lang="scss">
.container {
  padding: 50px;
  .carousel {
    padding: 50px;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* FADE IN */
    .fade-enter-active {
      transition: opacity 1s;
    }
    .fade-enter {
      opacity: 0;
    }

    /* GO TO NEXT SLIDE */
    .slide-next-enter-active,
    .slide-next-leave-active {
      transition: transform 0.5s ease-in-out;
    }

    .slide-next-leave-to {
      z-index: 3;
      opacity: 1;
      transform: translate(50%) scaleY(1.25);
    }

    /* GO TO PREVIOUS SLIDE */
    .slide-prev-enter-active, //
    .slide-prev-leave-active {
      transition: transform 0.5s ease-in-out;
    }

    .slide-prev-leave-to {
      z-index: 3;
      opacity: 1;
      transform: translate(-50%) scaleY(1.25);
    }

    .slide {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      box-shadow: 0 0 20px 10px rgba(0,0,0,0.3);
      border-radius: 8px;
      &.prev {
        height: 80%;
        top: 10%;
        background: #FFFFFF;
        opacity: 50%;
      }
      &.current {
        z-index: 2;
        left: 25%;
        background: #FFFFFF;
      }
      &.next {
        height: 80%;
        left: 50%;
        top: 10%;
        background: #FFFFFF;
        opacity: 50%;
      }
    }

    .btn {
      position: absolute;
      bottom: 30px;
      left: 45%;
      z-index: 10;
      cursor: pointer;
      width: 30px;
      height: 30px;
      transition: transform 0.3s ease-in-out;
      user-select: none;
    }

    .btn-next {
      left: 50%;
      background: url("../assets/right-arrow.svg") 50% no-repeat;
      //filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
    }
    .btn-prev {
      background: url("../assets/left-arrow.svg") 50% no-repeat;
      //filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
    }

    .btn:hover {
      transform: scale(1.3);
    }
  }
}
</style>
