<template lang="pug">
.footer-container.d-flex
  router-link.logo(:to="{name: RouteName.Home}") Mntn
  nav
    router-link(v-for="nav in navigation" :to="{name: nav.name}") {{nav.title}}
  .social-container.d-flex
    .icon.facebook
    .icon.instagram
    .icon.twitter
    .icon.youtube
</template>

<script setup lang="ts">
import { RouteName } from '@/enums/RouteName'

const navigation = [
  {
    title: 'About us',
    name: RouteName.AboutUs
  },
  {
    title: 'Gallery',
    name: RouteName.Gallery
  },
  {
    title: 'Testimonials',
    name: RouteName.Testimonials
  },
  {
    title: 'Tours',
    name: RouteName.Tours
  }
]
</script>

<style scoped lang="scss">
.footer-container {
  padding: 20px 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  height: 65px;
  p, a {
    font: normal 500 18px/22px 'Objective', sans-serif;
    color: #FFFFFF;
    &.logo {
      font-weight: 700;
      text-transform: uppercase;
      color: #FFFFFF;
    }
  }
  nav {
    a {
      text-transform: uppercase;
      border-right: 2px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      padding: 10px 20px;
      &:last-of-type {
        border-right: none;
      }
    }
  }
  .social-container {
    .icon {
      width: 20px;
      height: 20px;
      background: url("../assets/social/facebook.svg") 50% no-repeat;
      background-size: contain;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(104%) contrast(105%);
      margin-right: 10px;
      cursor: pointer;
      &.instagram {
        background: url("../assets/social/instagram.svg") 50% no-repeat;
      }
      &.twitter {
        background: url("../assets/social/twitter.svg") 50% no-repeat;
      }
      &.youtube {
        background: url("../assets/social/youtube.svg") 50% no-repeat;
        margin-right: 0;
      }
    }
  }
}
</style>
