<template lang="pug">
.header-container.d-flex(ref="header")
  router-link.logo(:to="{name: RouteName.Home}") Mntn
  nav
    router-link(v-for="nav in navigation" :to="{name: nav.name}") {{nav.title}}
  .user-container.d-flex
    .icon
    p.name Account
</template>

<script setup lang="ts">
import { ref } from 'vue'

import { RouteName } from '@/enums/RouteName'

const navigation = [
  {
    title: 'About us',
    name: RouteName.AboutUs
  },
  {
    title: 'Gallery',
    name: RouteName.Gallery
  },
  {
    title: 'Testimonials',
    name: RouteName.Testimonials
  },
  {
    title: 'Tours',
    name: RouteName.Tours
  }
]
window.onscroll = () => {
  addStickyClass()
}
const header = ref<HTMLElement | null>(null)
const addStickyClass = () => {
  if (header.value) {
    const sticky = header.value.offsetTop
    if (window.pageYOffset > sticky) {
      header.value.classList.add('sticky')
    } else {
      header.value.classList.remove('sticky')
    }
  }
}

</script>

<style scoped lang="scss">
.header-container {
  padding: 20px 30px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #FFFFFF;
  height: 65px;
  p, a {
    font: normal 500 18px/22px 'Objective', sans-serif;
    color: #000000;
    &.logo {
      font-weight: 700;
      text-transform: uppercase;
      color: #000000;
    }
  }
  nav {
    a {
      text-transform: uppercase;
      margin: 0 10px;
      border-bottom: 2px solid transparent;
      color: #69696c;
      padding: 10px;
      &.router-link-active {
        border-bottom: 2px solid #69696c;
      }
    }
  }
  .user-container {
    .icon {
      width: 20px;
      height: 20px;
      background: url("../assets/user-icon.svg") 50% no-repeat;
      background-size: contain;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(104%) contrast(105%);
      margin-right: 10px;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  }
</style>
