<template lang="pug">
.loader
  .loader-element
</template>

<style scoped lang="scss">
.loader {
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0; left: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  z-index: 100000;
}

.loader-element {
  height: 3px;
  width: 100%;
  background: #A5D6A7;

}

.loader-element:before {
  content: '';
  display: block;
  background-color: #4CAF50;
  height: 3px;
  width: 0;
  animation: getWidth 10s ease-in infinite;
}

@keyframes getWidth {
  100% { width: 100%; }
}
</style>
