<template lang="pug">
.image-carousel.slider(id="slider")
  TheLoader(v-if="loading")
  template(v-else)
    .btn.btn-prev(aria-label="Previous slide" @click="slide(-1)")
    TransitionGroup.slides-group(tag="div" :name="transitionName")
      .slide(:key="current")
        .info
          p.name(v-if="slides[current]") {{slides[current].attributes.name}}
          p.description(v-if="slides[current]" ) {{slides[current].attributes.description}}
          button Learn more
        .image-background
          .gradient
          .img(v-if="slides[current]" :style="{backgroundImage: 'url(' + formatImageUrl(slides[current].attributes.mainImage.data) + ')'}")
    .btn.btn-next(aria-label="Next slide" @click="slide(1)")
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'

import formatImageUrl from '@/composables/formatImageUrl'
import TourService from '@/services/tour.service'
import { useTourStore } from '@/stores/TourStore'
import { TourInterface } from '@/types/tour.interface'
import TheLoader from '@/components/TheLoader.vue'

const current = ref(0)
const direction = ref(1)
const transitionName = ref('fade')
const slides = ref([] as TourInterface[])
const slide = (dir: number) => {
  direction.value = dir
  dir === 1
    ? (transitionName.value = 'slide-next')
    : (transitionName.value = 'slide-prev')
  const len = slides.value.length
  current.value = (current.value + dir % len + len) % len
}
const store = useTourStore()
const loading = ref(false)
onMounted(async () => {
  loading.value = true
  return TourService.getTour().then((response) => {
    if (response.data.data) {
      store.setTour(response.data.data)
      slides.value = store.getTour
    }
  }).finally(() => { loading.value = false })
})
</script>

<style scoped lang="scss">
.image-carousel {
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* FADE IN */
  .fade-enter-active {
    transition: opacity 1s;
  }
  .fade-enter {
    opacity: 0;
  }

  /* GO TO NEXT SLIDE */
  .slide-next-enter-active,
  .slide-next-leave-active {
    transition: transform 0.5s ease-in-out;
  }
  .slide-next-enter {
    transform: translate(100%);
  }
  .slide-next-leave-to {
    z-index: 1;
    transform: translate(-100%);
  }

  /* GO TO PREVIOUS SLIDE */
  .slide-prev-enter-active,
  .slide-prev-leave-active {
    transition: transform 0.5s ease-in-out;
  }
  .slide-prev-enter {
    transform: translate(-100%);
  }
  .slide-prev-leave-to {
    z-index: 1;
    transform: translate(100%);
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    background: linear-gradient(0.25turn, black 80%, white 20%);
    .info {
      width: 70%;
      padding: 50px;
      color: #FFFFFF;
      text-align: left;
      font: 500 20px/25px $Objective;
      .name {
        font: 600 30px/20px $Objective;
        margin-bottom: 30px;
      }
      button {
        background: #FFFFFF;
        font: 500 20px/25px $Objective;
        color: #1D2129;
        padding: 10px 20px;
        white-space: nowrap;
        margin-top: 30px;
        text-transform: uppercase;
      }
    }
    .image-background {
      width: 30%;
      height: 80%;
      position: relative;
      .gradient {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(0.25turn, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
      }
      .img {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        width: 100%;
        height: 100%;
      }
    }
  }

  .btn {
    position: absolute;
    bottom: 30px;
    left: 45%;
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
    user-select: none;
  }

  .btn-next {
    left: 50%;
    background: url("../assets/right-arrow.svg") 50% no-repeat;
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
  }
  .btn-prev {
    background: url("../assets/left-arrow.svg") 50% no-repeat;
    filter: invert(100%) sepia(3%) saturate(13%) hue-rotate(81deg) brightness(106%) contrast(106%);
  }

  .btn:hover {
    transform: scale(1.3);
  }
}
</style>
