<template lang="pug">
router-view
</template>

<style lang="scss">
#app {
  font-family: Objective, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
