<template lang="pug">
.container
  TheHeader
  router-view
  TheFooter
</template>

<script setup lang="ts">
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
</script>

<style scoped lang="scss">
</style>
